.App{
  padding: 40px 80px 0px;
}
.nameValue {
  /* display: flex;
  justify-content: space-around; */
  width: 100%;
}

.titles{
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 5fr;
  
}

.converter{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.country-flag{
  max-width: 80px;
}